- content_for :title do
  EXPLANATION
%h2 How do planes stay up in the sky?
.section
  %p
    The air meeting the front edge of the wing is forced over both the top of the wing
    and the bottom of the wing. By diverting air in this way a downward jet of air is
    produced which creates lift