- content_for :title do
  Feedback
%h2 Send your suggestions and comments
.section
  %form{ :action => '/feedback', :method => 'post' }
    %ol
      %li
        %span.label Email
        %input{ :type => 'text', :name => 'email' }
        .clear
      %li
        %span.label Message
        %textarea{ :name => 'message' }
        .clear
      %li
        %a.submit{ :href => '#' } Send