- content_for :title do
  Helicopters
%h2 History
.section
  .media.slideshow
    %img{ :src => '/images/helicopters/davinci.jpg', :width => 600, :height => 320 }
    %img{ :src => '/images/helicopters/focke-wulf.jpg', :width => 600, :height => 320 }
    %img{ :src => '/images/helicopters/sikorsky.jpg', :width => 600, :height => 320 }
  %p
    The first helicopters were developed during the first 50 years of aviation, the earliest
    being the 
    %a{ :href => 'http://en.wikipedia.org/wiki/Focke-Wulf_Fw_61' } Focke-Wulf Fw 61
    (shown on the right) in 1936. The first mass produced helicopter to acheive success
    was designed by
    %a{ :href => 'http://en.wikipedia.org/wiki/Igor_Sikorsky' } Igor Sikorsky
    and built in 1942.
  %p
    In the 1480s Leonardo da Vanci drew several concepts of a machine he described as
    an "aerial screw" (shown on the right) which had a rotating blade on the top like
    modern helicopters, but no tail rotor to stop the entire aircraft from spinning with
    the rotor and spinning out of control.
  %p
    The first flights of helicopters that could actually leave the ground were at the beginning
    of the 20th century. Two French brothers, Jacques and Louis Breguet, experimented with
    a machine they called a Gyrocopter, which managed to lift itself and pilot off the ground
    by just two feet and for a minute.
  %p
    The design which set the standard for most modern helicopters was the Vought-Sikorsky VS-300.
    Powered by a 150hp engine it had a large rotor on top and a small tail rotor to counter
    rotational forces from the main rotor. At the time it was one of the most reliable helicopters,
    setting a record by achieving over an hour and a half of airtime in one flight. It was also
    the first amphibious helicopter, having floats attached and managing to both land and take off
    from water.
  %a.section-end{ :href => '#top-anchor' } Top
  .clear
%h2 Uses
.section
  %p
    Helicopters can be used for access to confined spaces, such as rooftops, where there is simply no
    space available for an airplane to land, or when greater maneuverability is required - such as
    hovering.
  %p
    Specialised designs have been built for specific tasks - such as skycranes which have the ability
    to lift large loads with a winch attached underneath, or firefighting helicopters which are 
    equipped with large water storage tanks and a hose for collecting water from lakes. Other variants
    include military aircraft, such as the Apache Gunship, and search and rescue helicopters which need to
    be able to land on mountain tops or other difficult locations. Helicopters for this job are fitted
    with rescue hoists for airlifting people to safety. See 
    %a{ :href => '/gallery#gallery-helicopters' } the helicopter gallery
    for pictures of specialised helicopters
  %a.section-end{ :href => '#top-anchor' } Top